.btn {
	font-size: 30px;
	background-color: #be352d;
	color: aliceblue;
	padding: 10px 20px;
	margin: 20px auto 10px auto;
	border-radius: 12px;
	border: 2px solid aliceblue;
	cursor: pointer;
}

.btn:hover {
	background-color: black;
	transition: background-color 300ms linear;
}
